[req]
default_bit = 4096
distinguished_name = req_distinguished_name
prompt = no

[req_distinguished_name]
countryName             = FR
stateOrProvinceName     = Gironde
localityName            = Bordeaux
organizationName        = EPSI
commonName = localhost.localdomain
commonName = localhost.localdomain
