body{
    font-family: "Roboto Thin";
}
p{
    font-size:large;
}
.nav-top{
    background-color: #5D86EF;
    width: 100%;
    text-align: center;

}
.nav-top>h1{
    display: inline-block;
    vertical-align: middle;
}
.nav-top>h1>a{
    color: whitesmoke;
    text-decoration: none;
}
.nav-top>h1>a:hover{
    color: #A9A9AC;
}
.top-text-description>p{
    margin: 20px 0 50px 0;
    font-size: large;
    color: #7C7777;
    text-align: center;
}
.separator-header{
    background-color: #7C7777;
}

.separator-footer{
    border-left: 1.2px solid rgba(242, 235, 235, 0.5);
    margin-top: 40%;
    height: 60%;
}
footer{
    background-color: #5D86EF;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
.information-footer>h5{
    text-align: center;
    color: whitesmoke;
    margin-top: 20px;
    font-size: 15px;
}

img{
    max-width: 100%;
    max-height: 70%;
    margin-left: auto;
    margin-right: auto;
}
.upload-area{
    border-radius: 10px;
    background-color: #CBD8F9;
}
input[type='file']{
    height:50px;
    width:500px;
    position:absolute;
    opacity:0;
    cursor:pointer;
}
.upload-area{
    width: 350px;
    height: 50px;
    margin: 0 auto;
}
.upload-area label{
    color: #7C7777;
}
i{
    margin: 10px;
}
.card-result-sucess{
    text-align: center;
    margin: 50px auto;
    background-color: #d5f9cb;
    border-radius: 10px;
}
.card-result-error{
    text-align: center;
    margin: 50px auto;
    background-color: #f9cbcb;
    border-radius: 10px;
}
.card-result-sucess h5{
    margin-top: 5px;
}
.information-footer-list{
    color:#FFF;
    text-decoration: underline;
}
.information-footer-list:hover{
    color:#A9A9AC;
}
.center{
    text-align: center;
}
.fa-times{
    color:red;
}
.fa-check{
    color:green;
}
